[
    Function(
        FunctionDeclaration {
            declaration: Declaration {
                ty: Type {
                    specifiers: None,
                    ty: Double,
                },
                name: Some(
                    "take_and_return_double",
                ),
            },
            parameters: [
                Declaration {
                    ty: Type {
                        specifiers: None,
                        ty: Double,
                    },
                    name: Some(
                        "d",
                    ),
                },
            ],
            varargs: false,
            body: Some(
                Block(
                    [
                        Declaration(
                            VariableDeclaration {
                                declaration: Declaration {
                                    ty: Type {
                                        specifiers: None,
                                        ty: Int,
                                    },
                                    name: Some(
                                        "new_double",
                                    ),
                                },
                                initializer: Some(
                                    Binary(
                                        Add,
                                        Binary(
                                            Multiply,
                                            Variable(
                                                "d",
                                            ),
                                            Literal(
                                                Integer {
                                                    value: 2,
                                                    suffix: None,
                                                },
                                            ),
                                        ),
                                        Literal(
                                            Integer {
                                                value: 1,
                                                suffix: None,
                                            },
                                        ),
                                    ),
                                ),
                            },
                        ),
                        Return(
                            Some(
                                Variable(
                                    "d",
                                ),
                            ),
                        ),
                    ],
                ),
            ),
        },
    ),
    Declaration(
        VariableDeclaration {
            declaration: Declaration {
                ty: Type {
                    specifiers: None,
                    ty: Int,
                },
                name: Some(
                    "x",
                ),
            },
            initializer: Some(
                Literal(
                    Integer {
                        value: 4,
                        suffix: None,
                    },
                ),
            ),
        },
    ),
    Declaration(
        VariableDeclaration {
            declaration: Declaration {
                ty: Type {
                    specifiers: None,
                    ty: Double,
                },
                name: Some(
                    "y",
                ),
            },
            initializer: None,
        },
    ),
    Function(
        FunctionDeclaration {
            declaration: Declaration {
                ty: Type {
                    specifiers: None,
                    ty: Int,
                },
                name: Some(
                    "main",
                ),
            },
            parameters: [],
            varargs: false,
            body: Some(
                Block(
                    [
                        Expression(
                            Binary(
                                Assign(
                                    Assign,
                                ),
                                Variable(
                                    "y",
                                ),
                                Binary(
                                    Add,
                                    Variable(
                                        "y",
                                    ),
                                    Variable(
                                        "x",
                                    ),
                                ),
                            ),
                        ),
                        Return(
                            Some(
                                Literal(
                                    Integer {
                                        value: 0,
                                        suffix: None,
                                    },
                                ),
                            ),
                        ),
                    ],
                ),
            ),
        },
    ),
]
